@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  overflow-y: scroll;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.clip-right-height {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}
